.formulario{
    width: 100%;
}


ion-card-content ion-input{
    margin-bottom: 10px;
}

ion-card-title{
    text-align: center;
}

ion-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
